@{
    var Obj = Model as Object;
}
<div class="text-center col-md-12" style="margin-bottom: 10px">
    @Html.ActionLink("基本设置", "Index", "Core", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("系统设置", "Index", "Sys", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("数据中间件", "Index", "XCode", null, new { @class = "btn btn-success btn-sm" })
    @Html.ActionLink("魔方设置", "Index", "Cube", null, new { @class = "btn btn-success btn-sm" })
</div>
