<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否启用网络调试。默认为不启用-->
    <add key="NewLife.Net.Debug" value="true"/>
    <!--是否缓存网关。缓存网关可以加速UPnP的发现过程-->
    <add key="NewLife.Net.UPnP.CacheGateway" value="true"/>

    <!--日志配置-->
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--<add key="Debug" value="false"/>-->
    <!--日志目录。默认为当前目录下的Log文件夹-->
    <add key="NewLife.LogPath" value=""/>

    <!--线程池组件配置-->
    <!--是否启用线程池调试。默认为不启用-->
    <add key="NewLife.Thread.Debug" value="true"/>

    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="true"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="true"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="false"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <add key="XCode.ConnMaps" value="EntityTest@Common"/>
    <!--是否限制只能访问拥有者的信息，默认false-->
    <add key="XCode.Oracle.IsUseOwner" value="true"/>
    <!--是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
    <add key="XCode.Code.Debug" value="true"/>

    <!--模版引擎配置-->
    <!--是否启用调试，默认不启用-->
    <add key="XTemplate.Debug" value="true"/>
    <!--模版引用的程序集，多个用逗号或分号隔开-->
    <add key="XTemplate.References" value=""/>
    <!--模版引用的命名空间，多个用逗号或分号隔开-->
    <add key="XTemplate.Imports" value=""/>
    <!--模版基类名-->
    <add key="XTemplate.BaseClassName" value=""/>

    <!--对象容器配置-->
    <!--指定接口在相应注册名称下的实现类型，mode可用于指定是否实例（单例模式）、是否允许覆盖、是否扩展。-->
    <!--<add key="NewLife.ObjectContainer_IA" value="name=a,type=A,mode=singleton|overwrite|extend"/>-->

    <!--下载数据库驱动的地址，文件名用{0}替代。默认http://j.nnhy.org/?id=3&f={0}-->
    <add key="XCode.ServiceAddress" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Common0" connectionString="Data Source=.;Initial Catalog=Common;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common1" connectionString="Data Source=.;Initial Catalog=Common2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common2" connectionString="Data Source=.;Initial Catalog=wisestate2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common" connectionString="Data Source=Common.db;Version=3;" providerName="Sqlite"/>
    <add name="Common99" connectionString="Data Source=Common99.db;Version=3;" providerName="Sqlite"/>
    <add name="Common4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\AppData\Common.mdb;Persist Security Info=False;"/>
    <add name="Common5" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.34)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORC)));User ID=admin;Password=admin;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>