<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="Common0" connectionString="Data Source=.;Initial Catalog=Common;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Common1" connectionString="Data Source=.;Initial Catalog=Common2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common2" connectionString="Data Source=.;Initial Catalog=wisestate2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common3" connectionString="Data Source=Common.db;UseLock=false;Default Timeout=0" providerName="Sqlite"/>
    <add name="Common99" connectionString="Data Source=Common99.db;Version=3;" providerName="Sqlite"/>
    <add name="Common4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\AppData\Common.mdb;Persist Security Info=False;"/>
    <add name="Common5" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.34)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORC)));User ID=admin;Password=admin;" providerName="System.Data.OracleClient"/>
    <add name="SqlCe" connectionString="Data Source=Common.sdf;" providerName="SqlCe"/>
    <add name="Membership" connectionString="Server=.;Port=3306;Database=Membership;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>