<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="MSSQL" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="Membership" connectionString="Data Source=.;Initial Catalog=Membership;user id=sa;password=Pass@word" providerName="System.Data.SqlClient" />-->
    <!--<add name="Membership" connectionString="Data Source=Membership.db;Pooling=true;Cache Size=-524288;Journal Mode=Memory;" providerName="Sqlite" />-->
    <!--<add name="Membership" connectionString="Data Source=:memory:;Pooling=true;Cache Size=-524288;Journal Mode=Memory;" providerName="Sqlite" />-->
    <!--<add name="Membership" connectionString="Server=.;Port=3306;Database=Membership;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="PostgreSQL.Data.PostgreSQLClient" />-->
    <!--<add name="Membership" connectionString="Data Source=tcp://10.10.20.104/ORCL;User Id=scott;Password=tiger;" providerName="System.Data.OracleClient"/>-->

    <add name="MSSQL2" connectionString="Server=.;User ID=sa;Password=sa;Database=Test;" providerName="System.Data.SqlClient" />
    <add name="Oracle" connectionString="Data Source=Tcp://127.0.0.1/ORC;User ID=sys;Password=admin;Owner=mis" providerName="System.Data.OracleClient" />
    <add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="PostgreSQL.Data.PostgreSQLClient" />
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Test.mdb;Persist Security Info=False;OLE DB Services=-1" providerName="Access"/>
    <add name="SqlCe" connectionString="Data Source=test.sdf;" providerName="SqlCe" />
    <add name="Log2" connectionString="Server=.;Port=3306;Database=Log;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
