<?xml version="1.0" encoding="utf-8"?>
<!--核心设置-->
<Setting>
  <!--全局调试。XTrace.Debug-->
  <Debug>true</Debug>
  <!--日志等级。只输出大于等于该级别的日志-->
  <LogLevel>Info</LogLevel>
  <!--文件日志目录-->
  <LogPath>Log</LogPath>
  <!--网络日志。本地子网日志广播255.255.255.255:514-->
  <NetworkLog></NetworkLog>
  <!--日志文件格式。默认{0:yyyy_MM_dd}.log-->
  <LogFileFormat>{0:yyyy_MM_dd}.log</LogFileFormat>
  <!--临时目录-->
  <TempPath>XTemp</TempPath>
  <!--插件目录-->
  <PluginPath>Plugins</PluginPath>
  <!--插件服务器。将从该网页上根据关键字分析链接并下载插件-->
  <PluginServer>http://x.newlifex.com/</PluginServer>
  <!--插件缓存目录。默认位于系统盘的X\Cache-->
  <PluginCache>C:\X\Cache</PluginCache>
</Setting>