<?xml version="1.0" encoding="utf-8"?>
<!--XCode设置-->
<Setting>
  <!--调试-->
  <Debug>true</Debug>
  <!--输出SQL。是否输出SQL语句，默认启用-->
  <ShowSQL>true</ShowSQL>
  <!--SQL目录。设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
  <SQLPath></SQLPath>
  <!--SQL执行时间。跟踪SQL执行时间，大于该阀值将输出日志，默认1000毫秒-->
  <TraceSQLTime>1000</TraceSQLTime>
  <!--连接映射。连接名映射#，表名映射@，把实体类中的Test2和Test3连接名映射到Test去-->
  <ConnMaps></ConnMaps>
  <!--参数化添删改查。默认关闭-->
  <UserParameter>false</UserParameter>
  <!--SQLite默认目录。没有设置连接字符串的连接默认创建SQLite连接，数据库放在该目录-->
  <SQLiteDbPath>.</SQLiteDbPath>
  <!--备份目录。备份数据库时存放的目录-->
  <BackupPath>Backup</BackupPath>
  <!--命令超时。查询执行超时时间，默认0秒不限制-->
  <CommandTimeout>0</CommandTimeout>
  <!--实体缓存过期。默认10秒-->
  <EntityCacheExpire>10</EntityCacheExpire>
  <!--单对象缓存过期。默认10秒-->
  <SingleCacheExpire>10</SingleCacheExpire>
  <!--扩展属性过期。默认10秒-->
  <ExtendExpire>10</ExtendExpire>
  <!--反向工程。Off 关闭；ReadOnly 只读不执行；On 打开，仅新建；Full 完全，修改删除-->
  <Migration>On</Migration>
</Setting>