@using System.Diagnostics;
@using System.Collections;
@using System.Reflection;
@using System.Runtime.Versioning;
@using NewLife.Common;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    ViewBag.Title = "Cache列表";

    var asm = Assembly.GetExecutingAssembly();
    var att = asm.GetCustomAttribute<TargetFrameworkAttribute>();
    var ver = att.FrameworkDisplayName ?? att.FrameworkName;
}
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th colspan="6">
            Cache列表(@Cache.Count )
        </th>
    </tr>
    <tr>
        <th>名称</th>
        <th>类型</th>
        <th>数值</th>
    </tr>
    @foreach (DictionaryEntry item in Cache)
        {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value.GetType().FullName</td>
            <td>@item.Value</td>
        </tr>
        }
</table>