################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/packages
*.user
/Data
/Log
/NewLife.Cube/Config
/NewLife.Cube/Plugins
*.log
*.htm
*.nuspec
*.nupkg
/NewLife.Core.Core/project.lock.json
/Backup
/ConsoleApp1
/NewLife.Cube4/Config
/NewLife.Cube4/Content
/NewLife.Cube4/Plugins
/XCode/Membership/Config
/XCode/Sharding/Config
/XCode/Demo/Config
/XCode/Membership
/Keys
/Avatars
/XCode/Extension/Config
/TestST/Properties/PublishProfiles
