################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NewLife.Core/obj
/NewLife.Cube/Bin
/NewLife.Cube/obj
/NewLife.MQ/obj
/NewLife.Net/obj
/packages
/Test/obj
/XCode/obj
/XCoder/obj
/XTemplate/obj
*.user
/Data
/Log
/NewLife.Cube/Config
/NewLife.Cube/Plugins
*.log
*.config
*.htm
