<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--模版引擎配置-->
    <!--是否启用调试，默认不启用-->
    <add key="XTemplate.Debug" value="true"/>
    <!--模版引用的程序集，多个用逗号或分号隔开-->
    <add key="XTemplate.References" value=""/>
    <!--模版引用的命名空间，多个用逗号或分号隔开-->
    <add key="XTemplate.Imports" value=""/>
    <!--模版基类名-->
    <add key="XTemplate.BaseClassName" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
