<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="false"/>

    <!--Orm组件配置-->
    <!--缓存有效期。
    -2	关闭缓存；
    -1	非独占数据库，有外部系统操作数据库，使用请求级缓存；
     0	永久静态缓存；
    >0	静态缓存时间，单位是秒；
    默认-2。-->
    <add key="XCode.Cache.Expiration" value="0"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="false"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="true"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="false"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <!--<add key="XCode.ConnMaps" value="Common#Common_MSSQL"/>-->
    
    <!--通用实体库配置-->
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="Common0" connectionString="Data Source=.;Initial Catalog=Common_Performance;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Common2" connectionString="Data Source=192.168.1.10;Initial Catalog=Common_Performance;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common3" connectionString="Data Source=Common_Performance.db;Version=3;" providerName="Sqlite"/>
    <add name="Common" connectionString="Server=192.168.1.34;Database=Common_Performance;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>