<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--日志目录。默认为当前目录下的Log文件夹-->
    <!--<add key="NewLife.LogPath" value="..\..\Log\"/>-->
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中1-->
    <!--<add key="XCode.SQLPath" value="..\..\SQLLog\"/>-->
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="false"/>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="true"/>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空。-->
    <add key="XCode.Negative.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <!--<add key="XCode.ConnMaps" value="Common#School,XCMS#School"/>-->
    <!--是否缓存数据库驱动Zip包到系统盘。默认不缓存-->
    <add key="XCode.CacheZip" value="true"/>

    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="NewLife.CommonEntity.AppDirs" value="Admin,XCMS"/>
    <!--过滤文件-->
    <add key="NewLife.CommonEntity.AppDirsFileFilter" value="Login.aspx,Main.aspx"/>
    <!--是否在子目中过滤-->
    <add key="NewLife.CommonEntity.AppDirsIsAllDirs" value="false"/>
    <!--是否压缩ViewState-->
    <add key="NewLife.CommonEntity.CompressViewState" value="true"/>
    <!--Web配置-->
    <!--CompressionModule模版压缩的文件，逗号隔开-->
    <add key="NewLife.CommonEntity.CompressFiles" value=".aspx,.axd.,js"/>
    <!--SCM配置-->
    <!--是否写实体日志，默认启用。对实体操作向日志表写操作日志-->
    <add key="NewLife.SCM.WriteEntityLog" value="true"/>
    <!--附件保存路径-->
    <add key="NewLife.Attachment.Path" value="FileAttachment\" />
    <!--附件保存格式 默认yyyy\\MMdd-->
    <add key="NewLife.Attachment.Format" value="yyyy\\MMdd"/>

    <!--选中项背景颜色-->
    <add key="XControl.GridViewExtender.SelectedRowBackColor" value="Pink"/>
  </appSettings>
  <connectionStrings>
    <add name="Common" connectionString="Data Source=~\App_Data\Common.db" providerName="Sqlite"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true">
    </compilation>
    <pages>
      <controls>
        <add assembly="XControl" namespace="XControl" tagPrefix="XCL"/>
        <add src="~/Control/LeftMenu.ascx" tagName="LeftMenu" tagPrefix="Custom"/>
        <add src="~/Control/HeaderTool.ascx" tagName="HeaderTool" tagPrefix="Custom"/>
        <add src="~/COntrol/OpenForm.ascx" tagName="OpenForm" tagPrefix="Custom"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
