<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--通用实体库配置-->
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="NewLife.CommonEntity.AppDirs" value="Admin"/>
    <!--过滤文件-->
    <add key="NewLife.CommonEntity.AppDirsFileFilter" value=""/>
    <!--是否在子目中过滤-->
    <add key="NewLife.CommonEntity.AppDirsIsAllDirs" value="false"/>
    <!--是否压缩ViewState-->
    <add key="NewLife.CommonEntity.CompressViewState" value="true"/>
    <!--附件目录。默认..\Attachment\-->
    <add key="NewLife.Attachment.Path" value=""/>
    <!--附件目录（带类别）。如果没设置，则采用顶级附件目录加上类别名子目录-->
    <add key="NewLife.Attachment.Path_类别名" value=""/>
    <!--附件格式。用于时间日期，注意斜杠转码，默认yyyy\\MMdd-->
    <add key="NewLife.Attachment.Format" value=""/>
  </appSettings>
</configuration>