<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--通用实体库配置-->
    <!--实体资格提供者。如果一个泛型实体类有多个子类，应该实现自己的提供者，以指定使用哪一个子类作为默认类型-->
    <add key="NewLife.CommonEntity.EntityShipProvier" value="NewLife.CommonEntity.EntityShipProvider"/>
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
  </appSettings>
</configuration>