<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--通用实体库配置-->
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="NewLife.CommonEntity.AppDirs" value="Admin"/>
  </appSettings>
</configuration>