<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="OrmDebug" value="true"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="DatabaseSchema_Enable" value="false"/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <add key="XCodeConnMaps" value="Common#Common_Access"/>
  </appSettings>
  <connectionStrings>
    <!--启用OLEDB连接池OLE DB Services=-1（EnableAll = -1）-->
    <add name="Common_Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Common.mdb;Persist Security Info=False;"/>
    <add name="Common_MSSQL" connectionString="Data Source=.;Initial Catalog=XMail;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <!--SQLite数据库-->
    <add name="Common_SQLite" connectionString="Data Source=~\App_Data\Common.db;Version=3;" providerName="Sqlite"/>
    <add name="Common_MSSQL2000" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="MySql" connectionString="Server=127.0.0.1;Database=mysql;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="VerifyCodeImage.aspx" type="XControl.VerifyCodeImageHttpHandler, XControl"/>
    </httpHandlers>
    <pages>
      <controls>
        <add assembly="XControl" namespace="XControl" tagPrefix="XCL"/>
      </controls>
    </pages>
    <compilation debug="true"/>
  </system.web>
</configuration>