<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="true"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="false"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <add key="XCode.ConnMaps" value="Common#Common_Access"/>

    <!--IO配置-->
    <!--数据流处理器，Xxx是总线名称，多个处理器用竖线|隔开，前面的处理器比后面的先处理。-->
    <add key="NewLife.StreamHandler_Xxx" value=""/>
    <add key="NewLife.StreamHandler_Message" value="NewLife.Messaging.MessageStreamHandler, NewLife.Core"/>

    <!--选中项背景颜色-->
    <add key="XControl.GridViewExtender.SelectedRowBackColor" value="Pink"/>
  </appSettings>
  <connectionStrings>
    <!--启用OLEDB连接池OLE DB Services=-1（EnableAll = -1）-->
    <add name="Common_Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Common2.mdb;Persist Security Info=False;"/>
    <add name="Common_MSSQL" connectionString="Data Source=.;Initial Catalog=Common;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <!--SQLite数据库-->
    <add name="Common_SQLite" connectionString="Data Source=~\App_Data\Common2.db;Version=3;" providerName="Sqlite"/>
    <add name="Common_MSSQL2000" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="MySql" connectionString="Server=127.0.0.1;Database=Common2;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <add name="MySql_System" connectionString="Server=127.0.0.1;Database=mysql;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <add name="Oracle" connectionString="Server=orc;User ID=jtw;Password=jtw;" providerName="System.Data.OracleClient"/>
    <add name="Oracle_System" connectionString="Server=orc;User ID=system;Password=admin;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="VerifyCodeImage.aspx" type="XControl.VerifyCodeImageHttpHandler, XControl"/>
      <add verb="GET,POST" path="Message.ashx" type="NewLife.IO.StreamHttpHandler, NewLife.Core"/>
    </httpHandlers>
    <pages>
      <controls>
        <add assembly="XControl" namespace="XControl" tagPrefix="XCL"/>
      </controls>
    </pages>
    <compilation debug="true"/>
  </system.web>
</configuration>