@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var pair = Model as Pair;
    var entity = pair.First as IEntity;
    var item = pair.Second as FieldItem;

    var width = 2;
    switch (Type.GetTypeCode(item.Type))
    {
        case TypeCode.Boolean:
            width = 2;
            break;
        case TypeCode.String:
            width = 6;
            break;
    }
}
<label class="control-label col-md-2">@item.DisplayName</label>
<div class="input-group col-md-@width">
    @Html.ForEditor(item.Name, entity[item.Name], item.Type)
    @if (!item.Description.TrimStart(item.DisplayName).TrimStart("。").IsNullOrWhiteSpace())
    {
        <p class="help-block">@(item.Description.TrimStart(item.DisplayName).TrimStart("。"))</p>
    }
</div>