@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var pair = Model as Pair;
    var entity = pair.First as IEntity;
    var item = pair.Second as FieldItem;

    var width = 2;
    switch (Type.GetTypeCode(item.Type))
    {
        case TypeCode.Boolean:
            width = 2;
            break;
        case TypeCode.String:
            width = 9;
            break;
    }
}
<label class="control-label col-md-2">@item.DisplayName</label>
<div class="col-xs-12 col-md-@width">
    @Html.ForEditor(item, entity)
    @Html.ForDescription(item)
</div>