@using NewLife;
@using XCode;
@using XCode.Configuration;
@{
    var pair = Model as Pair;
    var entity = pair.First as IEntity;
    var item = pair.Second as FieldItem;

    var isInt = item.Type == typeof(Int32);
    var w = isInt ? 4 : 8;
}
<label class="control-label col-xs-2 col-sm-3">@item.DisplayName</label>
<div class="input-group col-xs-10 col-sm-@w">
    @Html.ForEditor(item, entity)
    <span class="hidden-xs">@Html.ForDescription(item)</span>
    @if (ViewData.ModelState.ContainsKey(item.Name))
    {
        <span class="alert-danger">
            @Html.ValidationMessage(item.Name)
        </span>
    }
</div>