@{
    var menu = ManageProvider.Menu.Current;
}
<li>
    <i class="ace-icon fa fa-home home-icon"></i>
@if (menu != null)
{
    foreach (IMenu item in menu.AllParents)
    {
        if (item.ID != 0)
        {
            <a href="@(item.Url!=null? Url.Content(item.Url):"#")" >@item.DisplayName</a>

        }
    }
}
</li>

<li>
    <a href="@Url.Action("Index")">@(menu != null ? menu.DisplayName : ViewBag.Title)</a>
</li>
