@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="tableTools-container">
    <div class="form-inline">
        <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true)) " method="post" role="form">
            <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                @if (ManageProvider.User.Has(PermissionFlags.Insert))
                {
                    @Html.ActionLink("添加" + ViewContext.Controller.GetType().GetDisplayName(), "Add", null, new { @class = "btn btn-success btn-sm" })
                }
            </div>
            <div class="pull-right form-group">
                @Html.Partial("_List_Toolbar_Search")
                @Html.Partial("_List_Toolbar_Adv")
            </div>
        </form>
    </div>
</div>