@using NewLife.Common;
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityOperate;
    var enableSelect = this.EnableSelect();
}
@if (enableSelect)
{
    @*<button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("DeleteSelect")" data-method="post" data-fields="keys,keys2" data-confirm="该操作将删除选中数据并不可恢复！确认删除？" disabled>
        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
        批量删除
    </button>*@
}