<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">
        高级
        <span class="ace-icon fa fa-caret-down icon-on-right"></span>
    </button>

    <ul class="dropdown-menu dropdown-info dropdown-menu-right">
        <li>
            <a href="#">导出Excel</a>
        </li>
        <li>
            <a href="#">导出Xml</a>
        </li>
        <li>
            <a href="#">导入Xml</a>
        </li>
        <li>
            <a href="#">导出Json</a>
        </li>
        <li>
            <a href="#">导入Json</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#" onclick="return confirm('该操作将删除数据表所有数据并不可恢复！\n确认清空？');">清空数据表</a>
        </li>
    </ul>
</div><!-- /.btn-group -->