<div class="input-group">
    <span class="input-group-addon">
        <i class="ace-icon fa fa-check"></i>
    </span>
    <input name="q" type="search" id="q" value="@Request["q"]" class="form-control" placeholder="搜索关键字" />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-purple btn-sm">
            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
            查询
        </button>
    </span>
</div>