@using NewLife.Common;
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityOperate;
    var enableSelect = this.EnableSelect();
}
@if (enableSelect)
{
    <div class="form-group toolbar-batch">
        <button type="button" class="btn btn-purple btn-sm" data-action="delete"  data-url="@Url.Action("DeleteSelect")" disabled>
            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
            批量删除
        </button>
        <input type="hidden" data-id="ids" name="keys"/>
         
        @*@Html.ActionLink("批量删除", "DeleteSelect", null, new {  @class = "btn btn-error btn-sm", @data_action="delete" })
    @Html.ActionLink("批量启用", "Add", null, new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("批量禁用", "Add", null, new { @class = "btn btn-warning btn-sm" })*@
    </div>
    <script>
        $(function () {

            var $toolbarContext = $('.toolbar-batch'),
                $ids = $('input[data-id=ids]', $toolbarContext),
                $batchButtons = $('button[data-action], input[data-action]'), //button, input=button, a 3种类型都可以
                $table = $('.table'),
                $keys = $('input[name="keys"]', $table);

            //按钮事件
            $toolbarContext.on('click',
                'button[data-action], input[data-action]',
                function (e) {

                    var that = $(this),
                        url = that.data('url'),
                    //构建一个form提交
                        form = $('<form name="batchForm" method="post" style="display:none;"></form>');
                    if (url) {
                        var ids = getIds().join();
                        form.attr('action', url).html('<input name="Keys" value="' + ids + '" />');
                        var body = $('body').append(form);
                        form.submit();

                        //body.remove(form);

                    }

                    //阻止按钮本身的事件冒泡
                    return false;

                });

            $table.on('click', '#chkAll', function () {
                 
                // 全选
                $keys.prop('checked', this.checked);

                // 启用禁用批量操作区 
                $batchButtons.prop('disabled', !this.checked);

                //收集选中id
                var ids = getIds();

                $ids.val(ids.join());
            });
            
            $table.on('click.checked', 'tbody input[name="keys"]', function (e) {


                // 启用禁用批量操作区
                var ids = getIds(),
                    on = ids.length > 0;

                $batchButtons.prop('disabled', !on);

                $ids.val(ids.join()); 
            });

            function getIds() {
                var ids = [];
                $table.find('tbody :checked').each(function () {
                    ids.push(this.value);
                });
                return ids; 
            }
        })
    </script>
}