@using NewLife.Common;
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityOperate;
    var enableSelect = this.EnableSelect();
}
@if (enableSelect)
{
    @*<button type="button" class="btn btn-purple btn-sm" data-action="delete" data-url="@Url.Action("DeleteSelect")" data-method="post" data-fields="keys,keys2" disabled>
        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
        批量删除
    </button>*@
    <script>
        $(function () {

            var $toolbarContext = $('.toolbar-batch'),
                $batchButtons = $('button[data-action], input[data-action]'), //button, input=button, a 3种类型都可以
                $table = $('.table'),
                $keys = $('input[name="keys"]', $table);

            $table.on('click', '#chkAll', function () {
                // 全选
                $keys.prop('checked', this.checked);

                // 启用禁用批量操作区
                $batchButtons.prop('disabled', !this.checked);
            });

            $table.on('click.checked', 'tbody input[name="keys"]', function (e) {
                // 启用禁用批量操作区
                //var on = ids.length > 0;

                $batchButtons.prop('disabled', !this.value);
            });
        })
    </script>
}