<i class="glyphicon glyphicon-edit" style="color: blue;"></i>
<a href="@Url.Action("Form/" + @Model)">编辑</a>
<i class="glyphicon glyphicon-remove" style="color: red;"></i>
<a href="@Url.Action("Delete/" + @Model)">删除</a>
