@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="form-inline">
    <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true)) " method="post" role="form">
        <div class="validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label" for="q">关键字：</label>
            <input name="q" type="text" id="q" value="@Request["q"]" class="form-control" placeholder="要搜索的关键字" />
        </div>
        <input id="btnSearch" value="查询" type="submit" class="btn btn-primary" />
    </form>
</div>
