@using XCode.Membership;
@{ 
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
}
@if (user != null)
{
    <text>
        你好，@Html.ActionLink(user + "", "Info", "Admin/User", routeValues: new { id = user.ID }, htmlAttributes: new { @class = "username", title = "管理" })!
        @Html.ActionLink("注销", "Logout", "Admin/User")
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("注册", "Login", "Admin/User", routeValues: new { ReturnUrl = Request.Url, act = "Register" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "Admin/User", routeValues: new { ReturnUrl = Request.Url }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}