<div class="sidebar-scroll">
    <div id="sidebar" class="nav-collapse collapse">

        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
                <input type="text" class="search-query" placeholder="Search" />
            </form>
        </div>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li class="sub-menu active">
                <a class="" href="index.html">
                    <i class="icon-dashboard"></i>
                    <span>控制台</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>UI 组件</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="general.html">通用</a></li>
                    <li><a class="" href="button.html">按钮</a></li>
                    <li><a class="" href="slider.html">滑动</a></li>
                    <li><a class="" href="metro_view.html">Metro风格</a></li>
                    <li><a class="" href="tabs_accordion.html">Tab选项卡 & 手风琴</a></li>
                    <li><a class="" href="typography.html">文字排版</a></li>
                    <li><a class="" href="tree_view.html">树菜单</a></li>
                    <li><a class="" href="nestable.html">嵌套列表</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>插件</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="calendar.html">日历</a></li>
                    <li><a class="" href="grids.html">网格</a></li>
                    <li><a class="" href="chartjs.html">图表统计</a></li>
                    <li><a class="" href="flot_chart.html">Flot图表</a></li>
                    <li><a class="" href="gallery.html">相册</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>表单</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="form_layout.html">表单布局</a></li>
                    <li><a class="" href="form_component.html">表单组件</a></li>
                    <li><a class="" href="form_wizard.html">表单提示</a></li>
                    <li><a class="" href="form_validation.html">表单验证</a></li>
                    <li><a class="" href="dropzone.html">文件上传</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>数据表格</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="basic_table.html">简单表格</a></li>
                    <li><a class="" href="dynamic_table.html">动态表格</a></li>
                    <li><a class="" href="editable_table.html">可编辑表格</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-fire"></i>
                    <span>Icon图标</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="font_awesome.html">FontAwesome图标</a></li>
                    <li><a class="" href="glyphicons.html">Glyphicons图标</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="" href="javascript:;">
                    <i class="icon-trophy"></i>
                    <span>代码片段</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a href="general_portlet.html" class="">通用片段</a></li>
                    <li><a href="draggable_portlet.html" class="">可拖拽片段</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="" href="javascript:;">
                    <i class="icon-map-marker"></i>
                    <span>地图</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a href="vector_map.html" class="">Vector地图</a></li>
                    <li><a href="google_map.html" class="">Google地图</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-file-alt"></i>
                    <span>基本页面</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="blank.html">空白页面</a></li>
                    <li><a class="" href="blog.html">博客</a></li>
                    <li><a class="" href="timeline.html">时间轴</a></li>
                    <li><a class="" href="profile.html">个人资料</a></li>
                    <li><a class="" href="about_us.html">关于我们</a></li>
                    <li><a class="" href="contact_us.html">联系我们</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-glass"></i>
                    <span>其他</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="lock.html">锁屏</a></li>
                    <li><a class="" href="invoice.html">购物单</a></li>
                    <li><a class="" href="pricing_tables.html">价目单</a></li>
                    <li><a class="" href="search_result.html">搜索展示</a></li>
                    <li><a class="" href="faq.html">帮助页面</a></li>
                    <li><a class="" href="404.html">404错误页面</a></li>
                    <li><a class="" href="500.html">500错误页面</a></li>
                </ul>
            </li>

            <li>
                <a class="" href="login.html">
                    <i class="icon-user"></i>
                    <span>登录页面</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>