@{
    
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="Mosaddek" name="author" />
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" />
    <link href="~/assets/css/style-default.css" rel="stylesheet" id="style_color" />
    <link href="~/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
    
    @RenderBody()


    <!-- BEGIN FOOTER -->
    <div id="footer">
        2013 &copy; MetroAdmin.
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS -->
    <!-- Load javascripts at bottom, this will reduce page load time -->
    <script src="~/assets/js/jquery-1.8.3.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script src="js/excanvas.js"></script>
    <script src="js/respond.js"></script>
    <![endif]-->

    <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/assets/chart-master/Chart.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>


    <!--common script for all pages-->
    <script src="~/assets/js/common-scripts.js"></script>

    <!--script for this page only-->

    <script src="~/assets/js/easy-pie-chart.js"></script>
    <script src="~/assets/js/sparkline-chart.js"></script>
    <script src="~/assets/js/home-page-calender.js"></script>
    <script src="~/assets/js/home-chartjs.js"></script>

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
