@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Ace_Layout.cshtml";
    ViewBag.Title = "处理你的请求时出错";

    var context = ViewBag.Context as ExceptionContext;
    var error = context.Exception.Message;
    if (NewLife.Log.XTrace.Debug)
    {
        error = context.Exception.ToString();
    }
    error = error.Replace("--->", "--->" + Environment.NewLine);
}
<div class="panel panel-default">
    <div class="panel-body">
        <strong>
            <pre class="alert alert-danger" role="alert">@error</pre>
        </strong>
    </div>
    <div class="panel-footer">
        <a href="javascript: history.go(-1);" class="btn btn-info">返回上一页</a>
    </div>
</div>