@using NewLife.Web;
@using XCode;
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType.GetGenericArguments()[0]);
    var page = ViewBag.Page as Pager;
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-inline">
            <form action="@Url.Action("index")@Html.Raw("?" + page.GetBaseUrl(false, true, true)) " method="post" role="form">
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label" for="q">关键字：</label>
                    <input name="q" type="text" id="q" value="@Request["q"]" class="form-control" />
                </div>
                <input id="btnSearch" value="查询" type="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <div class="table-responsive">
        @Html.Partial("_List_Data")
    </div>
    <div class="panel-footer">
        <p>
            @Html.Partial("_List_Pager")
        </p>
    </div>
</div>