@using NewLife.Web;
@using XCode;
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}

<div class="clearfix">
    @Html.Partial("_List_Toolbar")
</div>
<div class="table-responsive">
    @Html.Partial("_List_Data")
</div>
<div class="panel-footer">
    <p>
        @Html.Partial("_List_Pager")
    </p>
</div>

<script>
    $(function () {

        //为所有data-action加上事件
        $('[data-action]').each(function () {
            $(this).data('click', this.onclick);
            this.onclick = null;
        });

        $(document).on('click', '[data-action]', function (e) {

            var that = $(this),
                oldClick = that.data('click');
            isAjax = that.data('ajax');
            action = that.data('action');
            if (!!isAjax) {
                //如果标志为ajax，阻止默认事件，
                this.onclick = null;
                e.stopPropagation();
                e.preventDefault();
                switch (action) {
                    case 'view':
                        break;
                    case 'eidt':
                        break;
                    case 'delete':
                        //console.log('delete');
                        confirmDialog('确认删除？', function () {
                            $.post(that.attr('href'),
                              function (data) {
                                  //console.log(data);

                                  tips(data.msg, 1, 2000, 'iframe|'+ data.url); 
                                  
                              }).error(function (error) {
                                  infoDialog('提示', error || '删除失败', 1);
                              });
                        }); 

                        break;
                    case 'add':
                        break;
                }

                return false;
            } else {

                oldClick && oldClick.call(this);
            }
        });
    });

</script>