@using NewLife.Web;
@using XCode;
@{
    Layout = NewLife.Cube.Setting.Current.Layout;

    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}

<div class="clearfix">
    @Html.Partial("_List_Toolbar")
</div>
<div class="table-responsive">
    @Html.Partial("_ListTree_Data")
</div>
<div class="panel-footer">
    @Html.Partial("_List_Pager")
</div>