<?xml version="1.0" encoding="utf-8"?>
<SysConfig>
  <!--系统名称。用于标识系统的英文名-->
  <Name>System.Data.SQLite</Name>
  <!--系统版本-->
  <Version>1.0.79.0</Version>
  <!--显示名称。用户可见的名称-->
  <DisplayName>System.Data.SQLite Core</DisplayName>
  <!--公司-->
  <Company>http://system.data.sqlite.org/</Company>
  <!--地址-->
  <Address>新生命开发团队</Address>
  <!--是否启用-->
  <IsEnable>true</IsEnable>
  <!--安装时间-->
  <InstallTime>2013-04-23T10:04:40.0108218+08:00</InstallTime>
</SysConfig>