<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--核心库配置-->
    <!--默认服务对象提供者。-->
    <add key="NewLife.ServiceProvider" value="NewLife.Model.ServiceProvider"/>

    <!--日志配置-->
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="false"/>
    <!--<add key="Debug" value="false"/>-->
    <!--日志目录。默认为当前目录下的Log文件夹-->
    <add key="NewLife.LogPath" value=""/>

    <!--线程池组件配置-->
    <!--是否启用线程池调试。默认为不启用-->
    <add key="NewLife.Thread.Debug" value="false"/>

    <!--IO配置-->
    <!--数据流处理器，Xxx是总线名称，多个处理器用竖线|隔开，前面的处理器比后面的先处理。-->
    <add key="NewLife.StreamHandler_Xxx" value=""/>
    <add key="NewLife.StreamHandler_Message" value="NewLife.Messaging.MessageStreamHandler, NewLife.Core"/>

    <!--反射配置-->
    <!--类型解析器提供者。实现ITypeResolverProvider接口，或继承自NewLife.Reflection.TypeResolverProvier-->
    <add key="NewLife.Reflection.TypeResolverProvier" value="NewLife.Reflection.TypeResolverProvier"/>

    <!--Web配置-->
    <!--CompressionModule模版压缩的文件，逗号隔开-->
    <add key="NewLife.CommonEntity.CompressFiles" value=".aspx,.axd,.js,.css"/>

    <!--对象容器配置-->
    <!--指定接口在相应注册名称下的实现类型，mode可用于指定是否实例（单例模式）、是否允许覆盖、是否扩展。-->
    <add key="NewLife.ObjectContainer_接口名" value="name=注册名称,type=实现类型,mode=singleton|overwrite|extend"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <!--注册消息模型数据流处理器-->
      <add verb="GET,POST" path="Message.ashx" type="NewLife.IO.StreamHttpHandler, NewLife.Core"/>
    </httpHandlers>
    <httpModules>
      <!--压缩模块，用于压缩aspx页面，axd资源，css和js等-->
      <add name="CompressionModule" type="NewLife.Web.CompressionModule,NewLife.Core"/>
    </httpModules>
  </system.web>
</configuration>