<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--日志配置-->
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="false"/>
    <!--<add key="Debug" value="false"/>-->
    <!--日志目录。默认为当前目录下的Log文件夹-->
    <add key="NewLife.LogPath" value=""/>

    <!--线程池组件配置-->
    <!--是否启用线程池调试。默认为不启用-->
    <add key="NewLife.Thread.Debug" value="false"/>

    <!--IO配置-->
    <!--数据流处理器，Xxx是总线名称，多个处理器用竖线|隔开，前面的处理器比后面的先处理。-->
    <add key="NewLife.StreamHandler_Xxx" value=""/>
  </appSettings>
</configuration>