<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=XCMS.mdb;Persist Security Info=False"/>
    <add name="Oracle" connectionString="Server=orc;User ID=jtw;Password=jtw;" providerName="System.Data.OracleClient"/>
    <add name="sqlite" connectionString="Data Source=test.db;" providerName="Sqlite"/>
  </connectionStrings>
</configuration>