<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=XCMS.mdb;Persist Security Info=False"/>
    <add name="Oracle" connectionString="Server=orc;User ID=jtw;Password=jtw;" providerName="System.Data.OracleClient"/>
    <add name="sqlite" connectionString="Data Source=test.db;" providerName="Sqlite"/>
  </connectionStrings>
  <applicationSettings>
    <XCoder.Properties.Settings>
      <setting name="XCoder_com_microsofttranslator_api_SoapService"
        serializeAs="String">
        <value>http://api.microsofttranslator.com/V2/soap.svc</value>
      </setting>
    </XCoder.Properties.Settings>
  </applicationSettings>
</configuration>