<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否限制只能访问拥有者的信息，默认false-->
    <add key="XCode.Oracle.IsUseOwner" value="true"/>
    <!--Oracle驱动oci.dll所在目录-->
    <add key="XCode.Oracle.DllPath" value="C:\OracleClient\X64"/>
  </appSettings>
  <connectionStrings>
    <add name="mssql" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=XCMS.mdb"/>
    <add name="Oracle" connectionString="Data Source=orc;User ID=admin;Password=admin;DllPath=C:\OracleClient" providerName="System.Data.OracleClient"/>
    <add name="Oracle2" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.34)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORC)));User ID=admin;Password=admin;;DllPath=C:\OracleClient" providerName="System.Data.OracleClient"/>
    <add name="sqlite" connectionString="Data Source=test.db;" providerName="Sqlite"/>
    <add name="MySql" connectionString="Server=.;Port=3306;Database=master;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <add name="SqlCe" connectionString="Data Source=test.sdf;" providerName="SqlCe"/>
    <add name="Firebird" connectionString="Server=.;Database=test.fdb;User=SYSDBA;Password=masterkey;" providerName="FirebirdSql.Data.FirebirdClient"/>
    <add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="PostgreSQL.Data.PostgreSQLClient"/>
  </connectionStrings>
</configuration>
