<?xml version="1.0" encoding="utf-8"?>
<StarAgent>
  <!--调试开关。默认true-->
  <Debug>true</Debug>
  <!--证书-->
  <Code>7F0F011A</Code>
  <!--密钥-->
  <Secret>iyvV8YhOA5DfQuta</Secret>
  <!--本地服务。默认udp://127.0.0.1:5500-->
  <LocalServer>udp://127.0.0.1:5500</LocalServer>
  <!--更新通道。默认Release-->
  <Channel>Release</Channel>
  <!--应用服务集合-->
  <Services>
    <ServiceInfo Name="test" FileName="cmd" Arguments="ping newlifex.com" WorkingDirectory="" AutoStart="false" Retry="3" AutoRestart="true" Singleton="false" />
    <ServiceInfo Name="test2" FileName="cmd" Arguments="ping newlifex.com" WorkingDirectory="" AutoStart="false" Retry="3" AutoRestart="true" Singleton="false" />
  </Services>
</StarAgent>