<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="NewLife.Mvc.Route.Debug" value="true"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <httpModules>
      <add name="NewLife.Mvc" type="NewLife.Mvc.Route,NewLife.Mvc"/>
    </httpModules>
  </system.web>
</configuration>
