<?xml version="1.0" encoding="utf-8"?>
<Core>
  <!--全局调试。XTrace.Debug-->
  <Debug>true</Debug>
  <!--日志等级。只输出大于等于该级别的日志，All/Debug/Info/Warn/Error/Fatal，默认Info-->
  <LogLevel>Info</LogLevel>
  <!--文件日志目录。默认Log子目录，web上一级Log-->
  <LogPath>Log</LogPath>
  <!--日志文件上限。超过上限后拆分新日志文件，默认10MB，0表示不限制大小-->
  <LogFileMaxBytes>10</LogFileMaxBytes>
  <!--日志文件备份。超过备份数后，最旧的文件将被删除，默认100，0表示不限制个数-->
  <LogFileBackups>100</LogFileBackups>
  <!--日志文件格式。默认{0:yyyy_MM_dd}.log，支持日志等级如 {1}_{0:yyyy_MM_dd}.log-->
  <LogFileFormat>{0:yyyy_MM_dd}.log</LogFileFormat>
  <!--网络日志。本地子网日志广播udp://255.255.255.255:514，或者http://xxx:80/log-->
  <NetworkLog></NetworkLog>
  <!--数据目录。本地数据库目录，默认Data子目录，web上一级Data-->
  <DataPath>Data</DataPath>
  <!--备份目录。备份数据库时存放的目录，默认Backup子目录，web上一级Backup-->
  <BackupPath>Backup</BackupPath>
  <!--插件目录-->
  <PluginPath>Plugins</PluginPath>
  <!--插件服务器。将从该网页上根据关键字分析链接并下载插件-->
  <PluginServer>http://x.newlifex.com/</PluginServer>
</Core>