@using System.Reflection
@using XCode
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
}
<div class="panel panel-default">
    <div class="form-horizontal">
        <!-- BEGIN FORM-->
        <form method="post" class="form-horizontal">
            @foreach (var item in fact.Fields)
            {
                if (item.PrimaryKey)
                {

                }
                else
                {
                    <div class="control-group">
                        <label class="control-label">@item.DisplayName</label>
                        <div class="controls">
                            @Html.Editor(item.Name)
                            <span class="help-inline">@item.Description</span>
                        </div>
                    </div>
                }
            }
            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="icon-ok"></i>保存</button>
                <button type="button" class="btn btn-danger"><i class=" icon-remove"></i>取消</button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>