@using NewLife.Common;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SysConfig.Current.DisplayName</title>
    <meta http-equiv="refresh" content="0;url=/Admin">
</head>
<body>
    <div>
        <h1>@SysConfig.Current.DisplayName</h1>
        @SysConfig.Current.Company
    </div>
</body>
</html>