<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=.;Port=3306;Database=mysql;Uid=root;Pwd=Pass@word;" providerName="MySql.Data.MySqlClient" />
    <add name="MSSQL" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Common1" connectionString="Data Source=.;Initial Catalog=Common2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Common2" connectionString="Data Source=.;Initial Catalog=wisestate2;user id=sa;password=Pass@word" providerName="System.Data.SqlClient"/>
    <add name="Membership" connectionString="Data Source=Common.db" providerName="Sqlite"/>
    <add name="Membership0" connectionString="Data Source=tcp://127.0.0.1/ORC;User ID=admin;Password=admin;" providerName="System.Data.OracleClient"/>
    <add name="Membership1" connectionString="Data Source=Membership.db;Pooling=true;Cache Size=-524288;Journal Mode=Memory;" providerName="Sqlite"/>
    <add name="Membership2" connectionString="Server=.;Port=3306;Database=Membership;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <add name="Membership3" connectionString="Server=.\\SQLEXPRESS;User ID=sa;Password=123456;Database=Test;" providerName="System.Data.SqlClient"/>
    <add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="PostgreSQL.Data.PostgreSQLClient"/>
  </connectionStrings>
</configuration>