@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link href="/Content/jweui/lib/weui.min.css" rel="stylesheet" />
    <link href="/Content/jweui/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/Content/jweui/css/demos.css" rel="stylesheet" />
</head>
<body ontouchstart>
    <header class='demos-header'>
        <h1 class="demos-title">系统登录</h1>
    </header>
    @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <div class="weui-cells__title"></div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="username" type="text" placeholder="请输入账号">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input name="password" class="weui-input" type="password" placeholder="请输入密码">
                </div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" checked class="weui-agree__checkbox">
            <span class="weui-agree__text">
                阅读并同意<a href="javascript:void(0);">《相关条款》</a>
            </span>
        </label>

        <div class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_primary">
                <i class="ace-icon fa fa-key"></i>
                <span class="bigger-110">登录</span>
            </button>
        </div>
    }
    <script src="/Content/jweui/lib/jquery-2.1.4.js"></script>
    <script src="/Content/jweui/lib/fastclick.js"></script>
    <script src="/Content/jweui/js/jquery-weui.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
        @Html.Raw(ViewBag.js)
    </script>

</body>
</html>
