<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <!--<add key="XCode.Debug" value="false"/>-->
    <!--跟踪SQL执行时间，大于该阀值将输出日志，默认0毫秒不跟踪。-->
    <add key="XCode.TraceSQLTime" value="100"/>
    <!--是否启用缓存调试，默认不启用-->
    <!--<add key="XCode.Cache.Debug" value="false"/>-->
    <!--是否独占数据库，独占时将大大加大缓存权重，默认true（Debug时为false）-->
    <!--<add key="XCode.Cache.Alone" value="true"/>-->
    <!--缓存有效期。-2  关闭缓存；-1  非独占数据库，请求级缓存；0  永久静态缓存；>0  静态缓存时间，单位秒；默认-2。-->
    <!--<add key="XCode.Cache.Expiration" value="-2"/>-->
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <!--<add key="XCode.SQLPath" value=""/>-->
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="false"/>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空。-->
    <add key="XCode.Negative.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <!--<add key="XCode.ConnMaps" value="Common#Common_MSSQL"/>-->
    <!--是否缓存数据库驱动Zip包到系统盘。默认不缓存-->
    <add key="XCode.CacheZip" value="true"/>
    
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Common" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=~\App_Data\Common.mdb" providerName="Access"/>-->
    <add name="Common" connectionString="Data Source=~\App_Data\Common.db" providerName="Sqlite"/>
    <!--<add name="Common" connectionString="Data Source=~\App_Data\Common.sdf" providerName="SqlCe"/>-->
    <!--<add name="Common" connectionString="Server=.;Integrated Security=SSPI;Database=Common" providerName="System.Data.SqlClient" />-->
    <!--<add name="Common" connectionString="Server=.;user id=sa;password=sa;Database=Common" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpRuntime  requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--全局错误处理模块-->
      <add name="ErrorModule" type="NewLife.Web.ErrorModule,NewLife.Core"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-Powered-By" value="NewLife.Cube http://www.NewLifeX.com"/>
      </customHeaders>
    </httpProtocol>
    <!--静态缓存使用浏览器缓存，超时时间之内不发出Http请求（F5除外）-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="240:00:00"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>