@using NewLife;
@using NewLife.Web;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    <label for="RoleID" class="control-label">角色：</label>
    @Html.ForDropDownList("RoleID", Role.FindAllWithCache(), "全部", true)
</div>