@using NewLife.Cube.Web;
@{
    var set = NewLife.Cube.Setting.Current;
    var returnUrl = ViewBag.ReturnUrl as String;
    var ms = NewLife.Web.OAuthConfig.Current.Items.Where(e => !e.AppID.IsNullOrEmpty()).ToList();
    var dic = "NewLife=新生命,Baidu=百度,Weixin=微信,Taobao=淘宝".SplitAsDictionary("=", ",");
}
@if (ms.Count > 0 && set.AutoRegister)
{
    <div class="toolbar clearfix text-center">
        <div class="form-group col-sm-12">
            <p style="font-size: 22px; position: relative; display: inline-block;">
                <span style="height: 1px; position: absolute; background-color: #928f8f; width: 160px; top: 16px; left: 122px;"></span>
                第三方登录
                <span style="height: 1px; position: absolute; background-color: #928f8f; width: 160px; top: 16px; right: 122px;"></span>
            </p>
        </div>
        <div class="row" style="padding: 0px 0 0 0;">


            <div class="form-group col-sm-12">
                @foreach (var mi in ms)
                {
                    var nickName = "";
                    if (!dic.TryGetValue(mi.Name, out nickName))
                    {
                        nickName = mi.Name;
                    }

                    var url = "Sso/Login?name=" + mi.Name;
                    if (!returnUrl.IsNullOrEmpty())
                    {
                        url += "&r=" + HttpUtility.UrlEncode(returnUrl);
                    }

                    url = HttpRuntime.AppDomainAppVirtualPath + url;

                    <a href="@url" title="@nickName" style="height: 64px; width: 64px; display: inline-block; margin-left: 5px; background: url(/Content/images/logo/@(mi.Name).png) no-repeat; -ms-background-size: 64px 64px; background-size: 64px 64px;">
                        @*<i class="glyphicon glyphicon-menu-right"></i>*@
                        @*@nickName*@
                    </a>
                }
            </div>
        </div>
    </div>
}