@using NewLife.Common


<div class="tab-pane fade" id="Register">
    <!-- Logo-->
    <div class="row text-center">
        <i class="glyphicon glyphicon-cloud login-logo center-block" style="display: inline-block;"></i>
        @*<span style="display: inline-block;vertical-align: 56px;margin-left: 10px;font-size: 24px;">@SysConfig.Current.DisplayName</span>*@
    </div>
    <!-- 登录-->
    @using (Html.BeginForm("Register", "User", new { r = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "cube-login" }))
    {
        @Html.ValidationSummary()
        <span class="heading text-primary">@SysConfig.Current.DisplayName 注册</span>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="输入你的邮箱地址">
            <i class="glyphicon glyphicon-email"></i>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="重复密码">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="form-group text-center">
            <div style="display: inline-block; margin-top: 5px; float: left;">
                @*<span style="margin-left: auto; margin-right: auto; margin-top: 5px;">已有账号？</span>*@
                <a href="#Login" data-toggle="tab" style="margin-left: auto; margin-right: auto;position: static; font-size: 15px; margin-top: 5px;">
                    @*<i class="ace-icon fa fa-arrow-right"></i>*@
                    <span>回到登录</span>
                </a>
            </div>
            <button type="submit" class="btn btn-default text-center">注册</button>
        </div>

    }
    @*<div class="toolbar clearfix text-center">
            <div class="row" style="padding:30px 60px 0 60px;">
                <div class="toolbar center">
                    <a href="#Login" data-toggle="tab" style="float: right">
                        回到登录
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                    <span style="float: right">已有账号？</span>
                </div>
            </div>
        </div>*@
</div>