<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=test.db;" providerName="Sqlite" />
    <add name="MySql" connectionString="Server=.;Port=3306;Database=mysql;Uid=root;Pwd=;NameFormat=Upper" providerName="MySql.Data.MySqlClient" />
    <add name="MSSQL" connectionString="Server=.;User ID=sa;Password=sa;Database=Test;datapath=~\App_Data;NameFormat=Upper" providerName="System.Data.SqlClient" />
    <add name="Oracle" connectionString="Data Source=Tcp://127.0.0.1/ORC;User ID=sys;Password=admin;Owner=mis;NameFormat=Upper" providerName="System.Data.OracleClient" />
    <add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;NameFormat=Upper" providerName="PostgreSQL.Data.PostgreSQLClient" />
    <add name="MSSQL" connectionString="Server=.;Integrated Security=SSPI;Database=Test;NameFormat=Upper" providerName="System.Data.SqlClient" />
    <add name="Oracle" connectionString="Data Source=orc;User ID=sys;Password=admin;NameFormat=Upper" providerName="System.Data.OracleClient" />
    <!--OLE DB Services=-1表示打开连接池-->
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Test.mdb;Persist Security Info=False;OLE DB Services=-1;NameFormat=Upper" providerName="Access"/>
    <add name="SqlCe" connectionString="Data Source=test.sdf;" providerName="SqlCe" />
    <add name="DaMeng" connectionString="Server=.;Port=5236;Database=dameng;user=SYSDBA;password=SYSDBA;" providerName="DaMeng" />
    <add name="DB2" connectionString="Database=localhost;Uid=myUsername;Pwd=myPassword;" providerName="DB2" />
  </connectionStrings>
  <system.web>
    <httpModules>
      <!--页面执行时间模块，用于在页面中输出页面执行时间和查询执行次数-->
      <add name="DbRunTimeModule" type="XCode.Web.DbRunTimeModule,XCode" />
    </httpModules>
  </system.web>
</configuration>
