<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Orm组件配置-->
    <!--缓存有效期。
    -2	关闭缓存；
    -1	非独占数据库，有外部系统操作数据库，使用请求级缓存；
     0	永久静态缓存；
    >0	静态缓存时间，单位是秒；
    默认-2。-->
    <add key="XCode.Cache.Expiration" value="0"/>
    <!--缓存维护定时器的检查周期，默认5秒。-->
    <add key="XCode.Cache.CheckPeriod" value="5"/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="true"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="false"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="false"/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <add key="XCode.ConnMaps" value="Test2#Test,Test3#Test,Area@Test"/>
  </appSettings>
  <connectionStrings>
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Test.mdb;Persist Security Info=False;OLE DB Services=-1"/>
    <add name="MSSQL" connectionString="server=.;Integrated Security=SSPI;Database=Test" providerName="System.Data.SqlClient" />
    <add name="MSSQL" connectionString="server=.;User ID=sa;Password=sa;Database=Test" providerName="System.Data.SqlClient"/>
    <add name="SQLite" connectionString="Data Source=filename;Version=3;" providerName="Sqlite"/>
    <add name="MySql" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>