<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--XCode配置-->
    <!--是否启用调试，默认不启用-->
    <add key="XCode.Debug" value="false"/>
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="false"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value=""/>
    <!--跟踪SQL执行时间，大于该阀值将输出日志，默认0毫秒不跟踪。-->
    <add key="XCode.TraceSQLTime" value="0"/>
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="false"/>
    <!--缓存有效期。-2	关闭缓存；-1	非独占数据库，有外部系统操作数据库，使用请求级缓存；0	永久静态缓存；>0	静态缓存时间，单位是秒；默认-2。-->
    <add key="XCode.Cache.Expiration" value="-2"/>
    <!--缓存维护定时器的检查周期，默认5秒-->
    <add key="XCode.Cache.CheckPeriod" value="5"/>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="false"/>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空。-->
    <add key="XCode.Negative.Exclude" value=""/>
    <!--连接名映射#，表名映射@，把实体类中的Test2和Test3连接名映射到Test去-->
    <add key="XCode.ConnMaps" value="Test2#Test,Test3#Test,Area@Test"/>
    <!--是否限制只能访问拥有者的信息，默认false-->
    <add key="XCode.Oracle.IsUseOwner" value="false"/>
    <!--是否忽略大小写，如果不忽略则在表名字段名外面加上双引号，默认true-->
    <add key="XCode.Oracle.IgnoreCase" value="true"/>
    <!--是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
    <add key="XCode.Code.Debug" value="false"/>
    <!--下载数据库驱动的地址，文件名用{0}替代。默认http://j.NewLifeX.com/?id=3&amp;f={0}-->
    <add key="XCode.ServiceAddress" value="http://j.NewLifeX.com/?id=3&amp;f={0}"/>
    <!--是否缓存数据库驱动Zip包到系统盘。默认不缓存-->
    <add key="XCode.CacheZip" value="true"/>
    <!--是否ID作为id的格式化，否则使用原名。默认使用ID-->
    <add key="XCode.Model.UseID" value="true"/>
    <!--是否自动去除前缀，第一个_之前。默认启用-->
    <add key="XCode.Model.AutoCutPrefix" value="true"/>
    <!--是否自动去除字段前面的表名。默认启用-->
    <add key="XCode.Model.AutoCutTableName" value="true"/>
    <!--是否自动纠正大小写。默认启用-->
    <add key="XCode.Model.AutoFixWord" value="true"/>
    <!--格式化表名字段名时，要过滤的前缀。默认tbl,table-->
    <add key="XCode.Model.FilterPrefixs" value=""/>
  </appSettings>
  <connectionStrings>
    <!--OLE DB Services=-1表示打开连接池-->
    <add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Test.mdb;Persist Security Info=False;OLE DB Services=-1"/>
    <add name="MSSQL" connectionString="Server=.;Integrated Security=SSPI;Database=Test" providerName="System.Data.SqlClient"/>
    <!--DataPath指定数据库文件目录，反向工程创建数据库时用-->
    <add name="MSSQL" connectionString="Server=.;User ID=sa;Password=sa;Database=Test;datapath=~\App_Data" providerName="System.Data.SqlClient"/>
    <add name="SqlCe" connectionString="Data Source=test.sdf;" providerName="SqlCe"/>
    <add name="SQLite" connectionString="Data Source=test.db;Version=3;" providerName="Sqlite"/>
    <add name="MySql" connectionString="Server=127.0.0.1;Port=3306;Database=master;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient"/>
    <!--DllPath指定OCI目录，内部自动计算ORACLE_HOME目录；Owner指定不同于UserID的拥有者-->
    <add name="Oracle" connectionString="Data Source=orc;User ID=sys;Password=admin;DllPath=..\oci" providerName="System.Data.OracleClient"/>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.34)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORC)));User ID=sys;Password=admin;;DllPath=C:\OracleClient" providerName="System.Data.OracleClient"/>
    <add name="Oracle" connectionString="Data Source=orc;Integrated Security=yes;" providerName="System.Data.OracleClient"/>
    <add name="Oracle_OLEDB" connectionString="Provider=OraOLEDB.Oracle;Data Source=orc;User Id=sys;Password=admin;"/>
    <add name="Firebird" connectionString="Server=.;Database=test.fdb;User=SYSDBA;Password=masterkey;" providerName="FirebirdSql.Data.FirebirdClient"/>
    <add name="Firebird_Embed" connectionString="Server=.;Database=test;User=SYSDBA;Password=masterkey;server type=1" providerName="FirebirdSql.Data.FirebirdClient"/>
    <add name="PostgreSQL" connectionString="Server=.;Database=master;Uid=root;Pwd=root;" providerName="PostgreSQL.Data.PostgreSQLClient"/>
    <add name="Network" connectionString="Server=tcp://data.NewLifeX.com:8089;User ID=test;Password=test" providerName="Network"/>
    <add name="Distributed" connectionString="WriteServer='ConnA*1,ConnB';ReadServer='ConnC*8, ConnD';" providerName="Distributed"/>
  </connectionStrings>
  <system.web>
    <httpModules>
      <!--页面执行时间模块，用于在页面中输出页面执行时间和查询执行次数-->
      <add name="DbRunTimeModule" type="XCode.Web.DbRunTimeModule,XCode"/>
    </httpModules>
  </system.web>
</configuration>
