<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 路由调试开关,打开将会直接显示详细的路由和控制器执行时发生的错误,否则将会记录到日志,并返回HTTP 500,以及一个日志记录标识 -->
    <add key="NewLife.Mvc.Route.Debug" value="true"/>
    <!-- 在GenericController.Render中模版输出默认模版的路径,相对于网站根目录,可以设置为绝对的物理路径或者 ..\ 这样的相对路径 -->
    <add key="NewLife.Mvc.TempleteDir" value=""/>
    <!-- 在GenericControllerFactory.GetController中,默认处理的请求后缀,默认值是下面的,如果需要覆盖默认的以*开始即可 -->
    <add key="NewLife.Mvc.AcceptSuffixs" value="aspx,xt"/>
  </appSettings>
  <httpModules>
    <!--Mvc的路由处理器-->
    <add name="NewLife.Mvc" type="NewLife.Mvc.Route,NewLife.Mvc"/>
  </httpModules>
</configuration>