@using NewLife.Common;
@{
    Layout = null;
    var page = HttpRuntime.AppDomainAppVirtualPath;
    page = page.EnsureEnd("/") + "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@SysConfig.Current.DisplayName</title>
    <meta http-equiv="refresh" content="0;url=@page">
</head>
<body>
    <div>
        <h1>@SysConfig.Current.DisplayName</h1>
        @SysConfig.Current.Company
    </div>
</body>
</html>