
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link href="/Content/jweui/lib/weui.min.css" rel="stylesheet" />
    <link href="/Content/jweui/css/jquery-weui.min.css" rel="stylesheet" />
    <link href="/Content/jweui/css/demos.css" rel="stylesheet" />
</head>
<body ontouchstart>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">

                <div class="weui-grids">
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_button.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Button
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_cell.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            List
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_cell.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Form
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_cell.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Flex
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_toast.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Toast
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_dialog.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Dialog
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_progress.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Progress
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_msg.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Msg
                        </p>
                    </a>
                    <a href="" class="weui-grid js_grid">
                        <div class="weui-grid__icon">
                            <img src="/Content/jweui/images/icon_nav_article.png" alt="">
                        </div>
                        <p class="weui-grid__label">
                            Article
                        </p>
                    </a>
                </div>
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <h1>页面二</h1>
            </div>
            <div id="tab3" class="weui-tab__bd-item">
                <h1>页面三</h1>
            </div>
            <div id="tab4" class="weui-tab__bd-item">
                <h1>页面四</h1>
            </div>
        </div>

        <div class="weui-tabbar">
            <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                <div class="weui-tabbar__icon">
                    <img src="/Content/jweui/images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-tabbar__label">微信</p>
            </a>
            <a href="#tab2" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/Content/jweui/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui-tabbar__label">通讯录</p>
            </a>
            <a href="#tab3" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/Content/jweui/images/icon_nav_article.png" alt="">
                </div>
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="#tab4" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/Content/jweui/images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>

    <script src="/Content/jweui/lib/jquery-2.1.4.js"></script>
    <script src="/Content/jweui/lib/fastclick.js"></script>
    <script src="/Content/jweui/js/jquery-weui.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
        @Html.Raw(ViewBag.js)
    </script>

</body>
</html>

