@media(max-width: 768px) {
    body { padding-left: 0px; padding-right: 0px; }

    .page-content { padding: 0px; }

    .form-horizontal .control-label { float: left; }

    .form-group { display: inline-block; margin-bottom: 2px; }

    .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }

    .form-inline .control-label { margin-bottom: 0; vertical-align: middle; }

    /*.form-inline .input-group {
        display: inline-block;
        vertical-align: middle;
    }

    .form-inline .input-group-addon {
        display: inline-table;
        vertical-align: middle;
        float: left;
    }*/

    .form-inline .input-group { display: inline-table; vertical-align: middle; }
}

.list-toolbar .btn-sm-force, .btn-toolbar .btn-sm-force { height: 33px; line-height: 0; vertical-align: middle; }

.list-toolbar .pull-right { float: none; }

/*.list-toolbar .clear-fix {
    zoom: 1; 
    overflow:hidden; 
}*/

/*.form-group {
    height: 60px;
}*/
.input-group[class*=col-] { float: left; }

.input-group > .btn-group > .btn { line-height: 20px; }

/*************** cube-login 2017-09-03 新版本样式*****************/
.login-logo { width: 130px; font-size: 130px; color: #4CA6FF;margin-top:50px; }
.cube-login { background: #fff; padding-bottom: 40px; border-radius: 15px; text-align: center; }
.cube-login .heading { display: block; font-size: 24px; font-weight: 700; padding: 5px 0; margin-bottom: 20px; }
.cube-login .form-group { padding: 0 40px; margin: 0 0 25px 0; position: relative;display:block; }
.cube-login .form-control { border-radius: 20px; box-shadow: none; padding: 0 20px 0 45px; height: 40px; transition: all 0.3s ease 0s; }
.cube-login .form-control:focus { background: #e0e0e0; box-shadow: none; outline: 0 none; }
.cube-login .form-group i { position: absolute; top: 12px; left: 60px; font-size: 17px; color: #c8c8c8; transition: all 0.5s ease 0s; }
.cube-login .form-group a { position: absolute; top: 12px; right: 0px; font-size: 17px; color: #c8c8c8; transition: all 0.5s ease 0s; color: #4CA6FF; }
.cube-login .form-control:focus + i { color: #00b4ef; }
.cube-login .fa-question-circle { display: inline-block; position: absolute; top: 12px; right: 60px; font-size: 20px; color: #808080; transition: all 0.5s ease 0s; }
.cube-login .fa-question-circle:hover { color: #000; }
.cube-login .main-checkbox { float: left; width: 20px; height: 20px; background: #11a3fc; border-radius: 50%; position: relative; margin: 5px 0 0 5px; border: 1px solid #11a3fc; }
.cube-login .main-checkbox label { width: 20px; height: 20px; position: absolute; top: 0; left: 0; cursor: pointer; }
.cube-login .main-checkbox label:after { content: ""; width: 10px; height: 5px; position: absolute; top: 5px; left: 4px; border: 3px solid #fff; border-top: none; border-right: none; background: transparent; opacity: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.cube-login .main-checkbox input[type=checkbox] { visibility: hidden; }
.cube-login .main-checkbox input[type=checkbox]:checked + label:after { opacity: 1; }
.cube-login .text { float: left; margin-left: 7px; line-height: 20px; padding-top: 5px; text-transform: capitalize; }
.cube-login .btn { float: right; font-size: 14px; color: #fff; background: #00b4ef; border-radius: 30px; padding: 8px 50px; border: none; text-transform: capitalize; transition: all 0.5s ease 0s; }
