.list-toolbar .btn-sm-force, .btn-toolbar .btn-sm-force {
    height:33px;
    line-height:0;
    vertical-align:middle;
}

.list-toolbar .pull-right {
    float: none;
}

.list-toolbar .clear-fix {
    zoom: 1; 
    overflow:hidden; 
}
