@media(max-width: 500px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-content{
        padding: 0px;
    }
}

.list-toolbar .btn-sm-force, .btn-toolbar .btn-sm-force {
    height: 33px;
    line-height: 0;
    vertical-align: middle;
}

.list-toolbar .pull-right {
    float: none;
}

/*.list-toolbar .clear-fix {
	zoom: 1; 
	overflow:hidden; 
}*/

/*.form-group {
	height: 60px;
}*/
.input-group[class*=col-] {
    float: left;
}

.input-group > .btn-group > .btn {
    line-height: 20px;
}
