@media(max-width: 500px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-content {
        padding: 0px;
    }

    .form-horizontal .control-label {
        float: left;
    }

    .form-group {
        display: inline-block;
        margin-bottom: 2px;
    }

    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    /*.form-inline .input-group {
        display: inline-block;
        vertical-align: middle;
    }

    .form-inline .input-group-addon {
        display: inline-table;
        vertical-align: middle;
        float: left;
    }*/
}

.list-toolbar .btn-sm-force, .btn-toolbar .btn-sm-force {
    height: 33px;
    line-height: 0;
    vertical-align: middle;
}

.list-toolbar .pull-right {
    float: none;
}

/*.list-toolbar .clear-fix {
    zoom: 1; 
    overflow:hidden; 
}*/

/*.form-group {
    height: 60px;
}*/
.input-group[class*=col-] {
    float: left;
}

.input-group > .btn-group > .btn {
    line-height: 20px;
}
