<?xml version="1.0" encoding="utf-8"?>
<SysConfig>
  <!--系统名称。用于标识系统的英文名-->
  <Name>NewLifePlatform</Name>
  <!--系统版本-->
  <Version>0.1</Version>
  <!--显示名称。用户可见的名称-->
  <DisplayName>新生命管理平台</DisplayName>
  <!--公司-->
  <Company>新生命开发团队</Company>
  <!--地址-->
  <Address>新生命开发团队</Address>
  <!--是否启用-->
  <IsEnable>true</IsEnable>
  <!--安装时间-->
  <InstallTime>2012-12-05T12:03:02.4428+08:00</InstallTime>
</SysConfig>