<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>

    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="true"/>
    <add key="XCode.Cache.Expiration" value="-2"/>
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value=""/>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="false"/>
    <!--要排除的链接名和表名，多个用逗号分隔，默认空。-->
    <add key="XCode.Negative.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <!--<add key="XCode.ConnMaps" value="Common#Common_MSSQL"/>-->

    <!-- XControl相关服务端控件的调试开关 -->
    <add key="XControl.Debug" value="true"/>

    <!--IO配置-->
    <!--数据流处理器，Xxx是总线名称，多个处理器用竖线|隔开，前面的处理器比后面的先处理。-->
    <add key="NewLife.StreamHandler_Xxx" value=""/>
    <add key="NewLife.StreamHandler_Message" value="NewLife.Messaging.MessageStreamHandler, NewLife.Core"/>

    <!--选中项背景颜色-->
    <add key="XControl.GridViewExtender.SelectedRowBackColor" value="Pink"/>
    <add key="XControl.LinkBoxField.ClickedRowBackColor" value="DodgerBlue"/>

    <!--通用实体库配置-->
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="NewLife.CommonEntity.AppDirs" value="MacDoc,Admin"/>
    <add key="NewLife.CommonEntity.AppDirsFileFilter" value="Default.aspx,Login.aspx,Main.aspx"/>
    <add key="NewLife.CommonEntity.AppDirsIsAllDirs" value="false"/>
    <!--是否压缩ViewState-->
    <add key="NewLife.CommonEntity.CompressViewState" value="true"/>

    <!--Web配置-->
    <!--CompressionModule模版压缩的文件，逗号隔开-->
    <add key="NewLife.CommonEntity.CompressFiles" value=".aspx,.axd.js"/>

    <!--对象容器配置-->
    <!--指定接口在相应注册名称下的实现类型-->
    <!--<add key="NewLife.ObjectContainer_IManageProvider" value="type=YWSManageProvider,priority=5"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="Common" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=~\App_Data\Common.mdb" providerName="Access"/>
    <add name="YWS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=~\App_Data\YWS.mdb" providerName="Access"/>-->
    <add name="Common" connectionString="Data Source=~\App_Data\Common.db" providerName="Sqlite"/>
    <add name="YWS" connectionString="Data Source=~\App_Data\YWS.db" providerName="Sqlite"/>
    <!--<add name="Common" connectionString="Data Source=~\App_Data\Common.sdf" providerName="SqlCe"/>
    <add name="YWS" connectionString="Data Source=~\App_Data\YWS.sdf" providerName="SqlCe"/>-->
    <!--<add name="Common" connectionString="Server=.;Integrated Security=SSPI;Database=Common" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="VerifyCodeImage.aspx" type="XControl.VerifyCodeImageHttpHandler, XControl"/>
      <add verb="GET,POST" path="Message.ashx" type="NewLife.Messaging.HttpMessageProviderHandler, NewLife.Core"/>
    </httpHandlers>
    <httpModules>
      <!--全局错误处理模块-->
      <add name="ErrorModule" type="NewLife.Web.ErrorModule,NewLife.Core"/>
      <!--压缩模块，用于压缩aspx页面，axd资源，css和js等-->
      <add name="CompressionModule" type="NewLife.Web.CompressionModule,NewLife.Core"/>
      <!--页面执行时间模块，用于在页面中输出页面执行时间和查询执行次数-->
      <add name="DbRunTimeModule" type="XCode.Web.DbRunTimeModule,XCode"/>
    </httpModules>
    <pages>
      <controls>
        <add assembly="XControl" namespace="XControl" tagPrefix="XCL"/>
      </controls>
    </pages>
    <compilation debug="true"/>
  </system.web>
</configuration>